body {
}
/*esta desc la parte de los formulario*/

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.title, .title a {
    color: #3c4858;
    text-decoration: none;
}

h4 {
    font-size: 1.125rem;
    font-weight: 300;
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}

.text-center {
    text-align: center !important;
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    max-width: 100px;
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 10px 30px -12px rgba(0,0,0,.42),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}

.thumbnail {
    border: 0 none;
    border-radius: 4px;
    padding: 0;
}

mbtn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.fileinput .mbtn {
    vertical-align: middle;
}

.mbtn.mbtn-round {
    border-radius: 30px;
}

.mbtn.mbtn-rose {
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
    box-shadow: 0 2px 2px 0 rgba(233,30,99,.14),0 3px 1px -2px rgba(233,30,99,.2),0 1px 5px 0 rgba(233,30,99,.12);
}

.mbtn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.mbtn {
    outline: 0;
}

.mbtn {
    position: relative;
    padding: 12px 30px;
    margin: .3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-radius: .2rem;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
}

.fileinput-new .fileinput-exists {
    display: none;
}

.mbtn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    /*width: 100%;*/
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
}

.userempleo {
    /*left: 0;
    top: 0;*/
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
}
