@{
    ViewData["Title"] = "Access denied";
    
    
}
<title>Acceso Denegado</title>
<header>
    <!---<h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">You do not have access to this resource. hola mundo</p>
        -->
</header>
<script src=" https://unpkg.com/sweetalert/dist/sweetalert.min.js "></script>

<script>
    swal({
        title: "Acceso Denegado",
        text: "Comuniquese con los Administradores",
        icon: "warning",

    })
        .then((willDelete) => {
            if (willDelete) {
                window.location.replace("../manage/index");
            } else {
                window.location.replace("../manage/index");
            }
        });

</script>

